In [13]:
import requests
import pandas as pd
import os
import glob
from datetime import datetime
from get_hdb_data import get_hdb_metadata_from_api, load_hdb_data_from_csv
from preprocessing_hdb_data import preprocessing_hdb_dataframe

Checking datastructure

In [5]:
# Base API URL
BASE_URL = "https://api-production.data.gov.sg/v2/public/api"
# Collection ID for Resale Flat Prices
COLLECTION_ID = 189
#hdb_url= f"{BASE_URL}/collections/{COLLECTION_ID}/metadata"

hdb_metadata_check=get_hdb_metadata_from_api(BASE_URL, COLLECTION_ID)
print(len(hdb_metadata_check))

Found 5 datasets:
2

In [6]:
data_path="ResaleFlatPrices/"
hdb_df= load_hdb_data_from_csv(folder_path=data_path)

Found 5 csv files in ResaleFlatPrices/
Loaded ResaleFlatPrices/Resale flat prices based on registration date from Jan-2017 onwards.csv with shape (216743, 11)
Columns: ['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'remaining_lease', 'resale_price']
     month        town flat_type block        street_name storey_range  \
0  2017-01  ANG MO KIO    2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
1  2017-01  ANG MO KIO    3 ROOM   108   ANG MO KIO AVE 4     01 TO 03

   floor_area_sqm      flat_model  lease_commence_date     remaining_lease  \
0            44.0        Improved                 1979  61 years 04 months
1            67.0  New Generation                 1978  60 years 07 months

   resale_price
0      232000.0
1      250000.0
Loaded ResaleFlatPrices/Resale Flat Prices (Based on Registration Date), From Mar 2012 to Dec 2014.csv with shape (52203, 10)
Columns: ['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price']
     month        town flat_type block       street_name storey_range  \
0  2012-03  ANG MO KIO    2 ROOM   172  ANG MO KIO AVE 4     06 TO 10
1  2012-03  ANG MO KIO    2 ROOM   510  ANG MO KIO AVE 8     01 TO 05

   floor_area_sqm flat_model  lease_commence_date  resale_price
0            45.0   Improved                 1986      250000.0
1            44.0   Improved                 1980      265000.0
Loaded ResaleFlatPrices/Resale Flat Prices (Based on Approval Date), 1990 - 1999.csv with shape (287196, 10)
Columns: ['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price']
     month        town flat_type block       street_name storey_range  \
0  1990-01  ANG MO KIO    1 ROOM   309  ANG MO KIO AVE 1     10 TO 12
1  1990-01  ANG MO KIO    1 ROOM   309  ANG MO KIO AVE 1     04 TO 06

   floor_area_sqm flat_model  lease_commence_date  resale_price
0            31.0   IMPROVED                 1977          9000
1            31.0   IMPROVED                 1977          6000
Loaded ResaleFlatPrices/Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016.csv with shape (37153, 11)
Columns: ['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'remaining_lease', 'resale_price']
     month        town flat_type block        street_name storey_range  \
0  2015-01  ANG MO KIO    3 ROOM   174   ANG MO KIO AVE 4     07 TO 09
1  2015-01  ANG MO KIO    3 ROOM   541  ANG MO KIO AVE 10     01 TO 03

   floor_area_sqm      flat_model  lease_commence_date  remaining_lease  \
0            60.0        Improved                 1986               70
1            68.0  New Generation                 1981               65

   resale_price
0      255000.0
1      275000.0
Loaded ResaleFlatPrices/Resale Flat Prices (Based on Approval Date), 2000 - Feb 2012.csv with shape (369651, 10)
Columns: ['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price']
     month        town flat_type block       street_name storey_range  \
0  2000-01  ANG MO KIO    3 ROOM   170  ANG MO KIO AVE 4     07 TO 09
1  2000-01  ANG MO KIO    3 ROOM   174  ANG MO KIO AVE 4     04 TO 06

   floor_area_sqm flat_model  lease_commence_date  resale_price
0            69.0   Improved                 1986      147000.0
1            61.0   Improved                 1986      144000.0
all unique columns across all files: ['town', 'block', 'floor_area_sqm', 'lease_commence_date', 'street_name', 'remaining_lease', 'storey_range', 'resale_price', 'flat_type', 'month', 'flat_model']
checking dataframe with shape (216743, 11)
Missing columns to be filled with NaN: []
Columns: ['town', 'block', 'floor_area_sqm', 'lease_commence_date', 'street_name', 'remaining_lease', 'storey_range', 'resale_price', 'flat_type', 'month', 'flat_model']
         town block  floor_area_sqm  lease_commence_date        street_name  \
0  ANG MO KIO   406            44.0                 1979  ANG MO KIO AVE 10
1  ANG MO KIO   108            67.0                 1978   ANG MO KIO AVE 4

      remaining_lease storey_range  resale_price flat_type    month  \
0  61 years 04 months     10 TO 12      232000.0    2 ROOM  2017-01
1  60 years 07 months     01 TO 03      250000.0    3 ROOM  2017-01

       flat_model
0        Improved
1  New Generation


checking dataframe with shape (52203, 10)
Missing columns to be filled with NaN: ['remaining_lease']
Columns: ['town', 'block', 'floor_area_sqm', 'lease_commence_date', 'street_name', 'remaining_lease', 'storey_range', 'resale_price', 'flat_type', 'month', 'flat_model']
         town block  floor_area_sqm  lease_commence_date       street_name  \
0  ANG MO KIO   172            45.0                 1986  ANG MO KIO AVE 4
1  ANG MO KIO   510            44.0                 1980  ANG MO KIO AVE 8

   remaining_lease storey_range  resale_price flat_type    month flat_model
0              NaN     06 TO 10      250000.0    2 ROOM  2012-03   Improved
1              NaN     01 TO 05      265000.0    2 ROOM  2012-03   Improved


checking dataframe with shape (287196, 10)
Missing columns to be filled with NaN: ['remaining_lease']
Columns: ['town', 'block', 'floor_area_sqm', 'lease_commence_date', 'street_name', 'remaining_lease', 'storey_range', 'resale_price', 'flat_type', 'month', 'flat_model']
         town block  floor_area_sqm  lease_commence_date       street_name  \
0  ANG MO KIO   309            31.0                 1977  ANG MO KIO AVE 1
1  ANG MO KIO   309            31.0                 1977  ANG MO KIO AVE 1

   remaining_lease storey_range  resale_price flat_type    month flat_model
0              NaN     10 TO 12          9000    1 ROOM  1990-01   IMPROVED
1              NaN     04 TO 06          6000    1 ROOM  1990-01   IMPROVED


checking dataframe with shape (37153, 11)
Missing columns to be filled with NaN: []
Columns: ['town', 'block', 'floor_area_sqm', 'lease_commence_date', 'street_name', 'remaining_lease', 'storey_range', 'resale_price', 'flat_type', 'month', 'flat_model']
         town block  floor_area_sqm  lease_commence_date        street_name  \
0  ANG MO KIO   174            60.0                 1986   ANG MO KIO AVE 4
1  ANG MO KIO   541            68.0                 1981  ANG MO KIO AVE 10

   remaining_lease storey_range  resale_price flat_type    month  \
0               70     07 TO 09      255000.0    3 ROOM  2015-01
1               65     01 TO 03      275000.0    3 ROOM  2015-01

       flat_model
0        Improved
1  New Generation


checking dataframe with shape (369651, 10)
Missing columns to be filled with NaN: ['remaining_lease']
Columns: ['town', 'block', 'floor_area_sqm', 'lease_commence_date', 'street_name', 'remaining_lease', 'storey_range', 'resale_price', 'flat_type', 'month', 'flat_model']
         town block  floor_area_sqm  lease_commence_date       street_name  \
0  ANG MO KIO   170            69.0                 1986  ANG MO KIO AVE 4
1  ANG MO KIO   174            61.0                 1986  ANG MO KIO AVE 4

   remaining_lease storey_range  resale_price flat_type    month flat_model
0              NaN     07 TO 09      147000.0    3 ROOM  2000-01   Improved
1              NaN     04 TO 06      144000.0    3 ROOM  2000-01   Improved


combined dataframe with rows 962946

Clean and merger HDB datasets

In [10]:
clean_hdb_df=preprocessing_hdb_dataframe(hdb_df)

Converting month to datetime...
Converting lease_commence_date to datetime...
Converting remaining_lease to float...
Calculating missing remaining_lease values...
Splitting storey_range into min and max...

In [18]:
clean_data_folder="Processed_Data"
os.makedirs(clean_data_folder, exist_ok=True)  # creates folder if it doesn't exist

#timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")  # e.g., 20251017_104512
#file_path = os.path.join(clean_data_folder, f"processed_hdb_data_{timestamp}.csv")
file_path = os.path.join(clean_data_folder, f"processed_hdb_data.csv")
clean_hdb_df.to_csv(file_path, index=False)
print(f"processed file has been saved in {file_path}")

processed file has been saved in Processed_Data/processed_hdb_data.csv

In [17]:
print(clean_hdb_df)

              town block  floor_area_sqm lease_commence_date  \
0       ANG MO KIO   406            44.0          1979-01-01
1       ANG MO KIO   108            67.0          1978-01-01
2       ANG MO KIO   602            67.0          1980-01-01
3       ANG MO KIO   465            68.0          1980-01-01
4       ANG MO KIO   601            67.0          1980-01-01
...            ...   ...             ...                 ...
962941      YISHUN   212           121.0          1985-01-01
962942      YISHUN   758           122.0          1986-01-01
962943      YISHUN   873           122.0          1988-01-01
962944      YISHUN   664           181.0          1992-01-01
962945      YISHUN   293           163.0          1992-01-01

              street_name  remaining_lease storey_range  resale_price  \
0       ANG MO KIO AVE 10        61.333333     10 TO 12      232000.0
1        ANG MO KIO AVE 4        60.583333     01 TO 03      250000.0
2        ANG MO KIO AVE 5        62.416667     01 TO 03      262000.0
3       ANG MO KIO AVE 10        62.083333     04 TO 06      265000.0
4        ANG MO KIO AVE 5        62.416667     01 TO 03      265000.0
...                   ...              ...          ...           ...
962941       YISHUN ST 21         0.000000     10 TO 12      476888.0
962942       YISHUN ST 72         0.000000     01 TO 03      490000.0
962943       YISHUN ST 81         0.000000     01 TO 03      488000.0
962944       YISHUN AVE 4         0.000000     07 TO 09      705000.0
962945       YISHUN ST 22         0.000000     04 TO 06      630000.0

        flat_type      month      flat_model  storey_range_min  \
0          2 ROOM 2017-01-01        Improved                10
1          3 ROOM 2017-01-01  New Generation                 1
2          3 ROOM 2017-01-01  New Generation                 1
3          3 ROOM 2017-01-01  New Generation                 4
4          3 ROOM 2017-01-01  New Generation                 1
...           ...        ...             ...               ...
962941     5 ROOM 2012-02-01        Improved                10
962942     5 ROOM 2012-02-01        Improved                 1
962943     5 ROOM 2012-02-01        Improved                 1
962944  EXECUTIVE 2012-02-01       Apartment                 7
962945  EXECUTIVE 2012-02-01       Apartment                 4

        storey_range_max
0                     12
1                      3
2                      3
3                      6
4                      3
...                  ...
962941                12
962942                 3
962943                 3
962944                 9
962945                 6

[962946 rows x 13 columns]